language: node_js

script:
  - yarn test
  - yarn build

# greenkeeper-lockfile
before_install: yarn global add greenkeeper-lockfile@1
before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload
